REACT_APP_SUPABASE_URL=https://cqhtscmjzlyqkqqwkarj.supabase.co
REACT_APP_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNxaHRzY21qemx5cWtxcXdrYXJqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI5NTk0MjQsImV4cCI6MjA3ODUzNTQyNH0.QgFISgp8tPVbI7K9HMZcmBfOjvDq6XJLgvls11rfEww